body {
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.game {
    width: 75%;
    height: fit-content;
    font-family: 'Special Elite', cursive;
    font-size: large;
    color:antiquewhite; 
    background-color: green;
    text-align: center;
    margin: 0 auto;
}  

.instructions {
    width: 75%;
    height: fit-content;
    color:antiquewhite; 
    background-color: green;
    text-align: center;   
    margin: 0 auto;
}

.main {
    width: 75%;
    height: fit-content;
    font-family: 'Special Elite', cursive;
    font-size: large;
    color:antiquewhite; 
    background-color: green;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.indexbody {
    width: 75%;
    height: fit-content;
    color:antiquewhite; 
    background-color: green;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.grid {
    border: 1px solid black;
    width: 333px;
    height: 333px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    height: 37px;
    width: 37px;
}

.start-pause-button {
    height: 30px;
    width: 120px;
    color: antiquewhite;
    background-color: blue;
}

.start-pause-button:hover{
    background-color: lightskyblue;
}

.reset-button {
    height: 30px;
    width: 120px;
    color: antiquewhite; 
    background-color: blue;
}

.reset-button:hover{
    background-color: lightskyblue; 
}

.ending-block {
    background-color: blue;
}

.starting-block {
    background-color: burlywood;
}

.c1, .c2, .c3 {
    background-color: green;
}

.c4, .c5 {
    background-color: lightblue;
}

.frog {
    background-color: greenyellow;
}
