h1{
    color: darkgreen;
}

.grid {
    border: 1px solid black;
    width: 333px;
    height: 333px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    height: 37px;
    width: 37px;
}

.start-pause-button {
    height: 30px;
    width: 80px;
}

.reset-button {
    height: 30px;
    width: 80px; 
}

.ending-block {
    background-color: blue;
}

.starting-block {
    background-color: burlywood;
}

.c1, .c2, .c3 {
    background-color: green;
}

.c4, .c5 {
    background-color: lightblue;
}

.frog {
    background-color: greenyellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }