body {
    background-color: antiquewhite;
    height: 100vh;
    width: 70%;
    display: grid;
    place-items: center;
}

.game {
    width: 75%;
    font-family: 'Special Elite', cursive;
    font-size: large;
    color:antiquewhite; 
    background-color: green;
    text-align: center;
}  

.instructions {
    width: 75%;
    color:antiquewhite; 
    background-color: green;
    text-align: center;   
}

.main {
    width: 75%;
    font-family: 'Special Elite', cursive;
    font-size: large;
    color:antiquewhite; 
    background-color: green;
    text-align: center;
}

.indexbody {
    width: 75%;
    color:antiquewhite; 
    background-color: green;
    text-align: center;  
}

.grid {
    border: 1px solid black;
    width: 333px;
    height: 333px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    height: 37px;
    width: 37px;
}

.start-pause-button {
    height: 20px;
    width: 70px;
    color: greenyellow;
}

.reset-button {
    height: 20px;
    width: 70px;
    color: greenyellow; 
}

.ending-block {
    background-color: blue;
}

.starting-block {
    background-color: burlywood;
}

.c1, .c2, .c3 {
    background-color: green;
}

.c4, .c5 {
    background-color: lightblue;
}

.frog {
    background-color: greenyellow;
}
